POSTGRES_DB=pastebin
POSTGRES_USER=admin
POSTGRES_PASSWORD=superAdminSecret123
POSTGRES_HOST_PORT=4611
POSTGRES_HOST=db          # service name in Compose

PGADMIN_DEFAULT_EMAIL=admin@pastebin.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_HOST_PORT=4612

VITE_PORT=4613
VITE_API_PORT=4614