# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables (CRITICAL)
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.cache/
dist-ssr
*.local


# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Database / Docker
# Keep your docker-compose.yml, but ignore local data volumes
postgres_data/

.tanstack